<!DOCTYPE html>
<html>
<head>
    <title>The App - A sample single page application</title>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="dist/app.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="vendor/semantic.min.js"></script>
    <script src="dist/app.js"></script>
</head>

<body ng-app="sampleApp">
<div class="ui top fixed borderless menu" ng-controller="MenuController">
    <div class="ui container">
        <a ui-sref="home" class="header item">
            The App
        </a>
        <div class="right menu" ng-show="!isLoggedIn">
            <div class="item">
                <a ui-sref="signup" class="ui primary button">
                    Sign Up
                </a>
            </div>
            <div class="item">
                <a ui-sref="login" class="ui button">
                    Login
                </a>
            </div>
        </div>
        <div class="right menu" ng-show="isLoggedIn">
            <div class="ui right dropdown item">
                <img class="ui avatar image" src="https://api.adorable.io/avatars/285/abott@adorable.png">
                <span> {{firstName}}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a ui-sref="logout" class="item">Logout</a>
                </div>
            </div>
            <script>
              $('.ui.dropdown').dropdown()
            </script>
        </div>
    </div>
</div>
<div ui-view class="ui main container">
</div>
</body>
</html>
