<div class="ui grid home">
    <div class="ten wide column">
        <h1 class="ui header hero">
            A sample single page application
            <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie quis
                odio ut pulvinar. Nullam egestas pellentesque erat, eu iaculis arcu porta vel.
            </div>
        </h1>
    </div>
    <div class="six wide column">
        <form ng-submit="login()" class="ui fluid form login" ng-class="{error: errors.length > 0}"
              ng-controller="LoginController">
            <h3 class="ui header">Login to The App</h3>
            <div class="field">
                <label>Email Address</label>
                <input ng-model="email" type="text" name="email" placeholder="Email Address">
            </div>
            <div class="field">
                <label>Password</label>
                <input ng-model="password" type="password" name="password" placeholder="Password">
            </div>
            <div ng-show="errors.length > 0" class="ui error message">
                <div class="header">
                    There were some errors while logging in
                </div>
                <ul class="list">
                    <li ng-repeat="error in errors">{{error}}</li>
                </ul>
            </div>
            <button ng-click="login()" class="ui right floated primary button">Login</button>
            <a ui-sref="signup" class="ui right floated basic button">Create an account</a>
        </form>
    </div>
</div>
