<div class="ui centered grid login">
    <div class="ui row">
        <div class="ui eight wide column">
            <form ng-submit="login()" class="ui form" ng-class="{error: errors.length > 0}"
                  ng-controller="LoginController">
                <h2 class="ui centered header">Login to The App</h2>
                <div class="field">
                    <label>Email Address</label>
                    <input ng-model="email" type="text" name="email" placeholder="Email Address">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input ng-model="password" type="password" name="password" placeholder="Password">
                </div>
                <div ng-show="errors.length > 0" class="ui error message">
                    <div class="header">
                        There were some errors while logging in
                    </div>
                    <ul class="list">
                        <li ng-repeat="error in errors">{{error}}</li>
                    </ul>
                </div>
                <button ng-click="login()" class="ui right floated primary button">Login</button>
                <a ui-sref="signup" class="ui right floated basic button">Create an account</a>
            </form>
        </div>
    </div>
</div>
