<div class="ui centered grid profile">
    <div class="ui row">
        <div class="ui six wide column">
            <div class="ui fluid card" ng-controller="ProfileController">
                <div class="image">
                    <img src="https://api.adorable.io/avatars/285/abott@adorable.png">
                </div>
                <div class="content">
                    <h5 class="ui sub header">FIRST NAME: </h5>
                    <div class="description">{{firstName}}</div>
                    <h5 class="ui sub header">LAST NAME: </h5>
                    <div class="description">{{lastName}}</div>
                    <h5 class="ui sub header">EMAIL ADDRESS: </h5>
                    <div class="description">{{email}}</div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
