<div class="ui centered grid signup">
    <div class="ui row">
        <div class="ui eight wide column">
            <form ng-submit="submit(); $event.stopPropagation(); $event.preventDefault();"
                  class="ui form"
                  ng-class="{error: errors.length > 0, success: success}"
                  ng-controller="SignupController">
                <h2 class="ui centered header">Create your personal account</h2>
                <div class="field">
                    <label>First Name</label>
                    <input ng-model="firstName" type="text" name="firstName" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input ng-model="lastName" type="text" name="lastName" placeholder="Last Name">
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <input ng-model="email" type="text" name="email" placeholder="Email Address">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input ng-model="password" type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input ng-model="confirmPassword" type="password" name="confirmPassword"
                           placeholder="Confirm Password">
                </div>
                <div ng-show="errors.length > 0" class="ui error message">
                    <div class="header">
                        There were some errors with your submission
                    </div>
                    <ul class="list">
                        <li ng-repeat="error in errors">{{error}}</li>
                    </ul>
                </div>
                <div ng-show="success" class="ui success message">
                    <div class="header">
                        Your user registration was successful.
                    </div>
                    <p>You may now log-in with email address</p>
                </div>
                <button ng-click="submit(); $event.stopPropagation(); $event.preventDefault();"
                        class="ui right floated primary button">
                    Submit
                </button>
                <a ui-sref="login" class="ui right floated basic button">Already have an account?</a>
            </form>
        </div>
    </div>
</div>
